sol/**/*.aux
sol/**/*.log
sol/**/*.synctex.gz
sol/**/*.tex.bak
sol/**/*.pdf
sol/**/*.bbl
sol/**/*.blg
slide/*.pdf
slide/*.aux
slide/*.log
slide/*.synctex.gz
slide/*.tex.bak
slide/*.bbl
slide/*.blg
slide/*.nav
slide/*.out
slide/*.out.bak
slide/*.snm
slide/*.toc
slide/*.vrb
